html, body {
  background-color: #262626;
  color: #B1B1B1;
  font-family: Helvetica, Arial, sans-serif;

  margin: 0;
  padding: 0;

  overflow: hidden;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 0.6666em;
  border-bottom: 1px solid #555555;
}

#titlebar {
  width: 100%;
  height: 24px;
  background-color: #212121;
  -webkit-app-region: drag;
}

#react {
  overflow: auto;
}

.grid {
  height: calc(100vh - 79px);
  width: 100vw;
  padding: 10px;

  display: grid;
  grid-gap: 5px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(5, 1fr);
}

.remoteControl {
  width: 100vw;
  height: 55px;
  border-top: 2px solid #161616;

  display: flex;
}

.overflowWarning {
  padding-top: 15px;
  padding-right: 16px;
  text-align: right;
  width: 100%;
  color: #FF3860;
}

.eventContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 10px #161616;
  border-radius: 5px;
  padding: 25px;
  position: relative;
}

.dequeueButton {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 20px;
  color: #555555;
  cursor: pointer;
}

.dequeueButton:hover {
  color: #E2E2E2;
}

.loader, .loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.6em solid rgba(255, 255, 255, 0.2);
  border-right: 0.6em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.6em solid rgba(255, 255, 255, 0.2);
  border-left: 0.6em solid #ffffff;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button-pulse-success {
  animation: buttonpulse-success ease-out 400ms 1;
}

@keyframes buttonpulse-success {
  0%, 100% {
    background-color: #3273dc;
  }

  50% {
    background-color: #23d160;
  }
}

.button-pulse-error {
  animation: buttonpulse-error ease-out 400ms 2;
}

@keyframes buttonpulse-error {
  0%, 100% {
    background-color: #3273dc;
  }

  50% {
    background-color: #FF3860;
  }
}
